  /* width 1200 => 990 */
a:link { color: #808080;}
a:visited { color: #808080;}
a:hover { color: #ed4259;}
a:active { color: #808080;}

  * {
    padding: 0px;
    margin: 0px;
    
    text-decoration: none;
    font-style: normal;
  }
  
  
body {
  background-color: #fff;
}

.box-center {
  width: 990px;
  margin-right: auto;
  margin-left: auto;
}


#top-out {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 12px;
  line-height: 35px;
  font-family: PingFangSC-Regular, -apple-system, Simsun;
  
  
  height: 35px;
  background-color: #f7f7f7;
  
  border-bottom:1px solid #e5e5e5;
}

#top-nav {
  width: 990px;
  border-style: solid;
  border-color: #f7f7f7;
  border-width: 0px 0px 1px 0px;
  /*
  margin: 0px 74.5px;
  */
}
#top-left-nav {
  float: left;
}
#top-right-nav {
  float: right;
}


#top-nav ul, li {
  display: inline;
}
#top-nav li em {
  width: 3px;
  text-align: center;
  border: none;
  margin: 0px 10px;
  color: #d9d9d9;
}

#top-nav ul li a,em {
  display: inline-block;
  width: 60px;
  text-align: center;
}
#top-nav ul li em {
  font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 35px;
    font-family: Arial;
}

#top-left-nav li:first-child a {
  background-color: #fff;
  width: 80px;
  border-style: solid;
  border-color: #e5e5e5;
  border-width: 0px 1px 0px 1px;
  margin: 0px 10px 0px 0px;
}
#top-left-nav li:last-child a {
  width: 36px;
}
#top-left-nav li:nth-last-child(2) a{
  width: 48px;
}

#top-right-nav {
  float: right;
}
#top-nav #top-right-nav li a {
  width: 24px;
}

#top-right-nav li:first-child a:link  { color: black;}
#top-right-nav li:first-child a:visited   { color: black;}
#top-right-nav li:first-child a:active   { color: black;}


/* advertisement */
.ad {
  position: relative;
  z-index: 1;
  height: 60px;
}
  
.ad a:first-child {
  position: absolute;
  z-index: 1;
  width: 990px;
  height: 60px;
}
.ad-tag {
  position: absolute;
  bottom: 4px;
  right: 4px;
  width: 24px;
  height: 14px;
  background-image: url(../images/ad-tag.png);
  background-repeat: no-repeat;
  background-color: #000;
  z-index: 5;
}
.close {
  position: relative;
  top: 17px;
  z-index: 1;
  float: right;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: rgba(202,203,205,0.3);
}
.icon-cross {
  width: 14px;
  font-size: 12px;
  color: #000;
}


/* logo-wrap */
.logo-wrap {
  height: 69px;
}
#search  {
  float: left;
  width: 389px;
  margin: 22px 0px 0px;
}
#search-box {
  height: 38px;
  width: 326px;
  padding: 0px 10px;
  border-style: solid;
  border-color: #dbdbdb;
  border-width: 1px;
  margin-right: -4px;
  
}
#search-button {
  height: 40px;
  width: 40px;
  border: none;
  background-color: #bf2c24;
}

#logo {
  float: left;
  margin: 14px 182px 0px 0px;
}
#bookrack {
  float: right;
  margin: 22px 0px 0px;
  width: 118px;
  height: 38px;
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 1px;
  
  text-align: left;

}
#bookrack a {
  display: table-cell;
  width: 118px;
  height: 38px;
  text-align: center;
  vertical-align: middle;
  
  font-size: 14px;
  font-family: PingFangSC-Regular, -apple-system, Simsun;

}

#bookrack .icon-bookmark {
  position: relative;
  top: 2px;
  font-size: 16px;
  line-height: 20px;
  width: 16px;
  margin: 0px 5px 0px 0px;
  color: #262626;

}
#bookrack i {
  display: inline-block;
  line-height: 38px;
  width: 56px;
  height: 38px;
  color: #262626;
  margin: 0px 0px 0px -7px;
}