a:link { color: #262626;}
a:visited { color: #262626;}
a:hover { color: #ed4259;}
a:active { color: #ed4259;}

* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-style: normal;
}
body {
  background-color: #fff;
}
div {
  display: block;
}
em {
  float: left;
  display: inline-block;
}
li {
  list-style-type: none;
}
.box-center {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}


#top-out {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 12px;
  line-height: 35px;
  font-family: PingFangSC-Regular, -apple-system, Simsun;
  
  
  height: 35px;
  background-color: #f7f7f7;
  
  border-bottom:1px solid #e5e5e5;
}

#top-nav {
  width: 1200px;
  border-style: solid;
  border-color: #f7f7f7;
  border-width: 0px 0px 1px 0px;
  /*
  margin: 0px 74.5px;
  */
}
#top-left-nav {
  float: left;
}
#top-right-nav {
  float: right;
}


#top-nav ul, li {
  display: inline;
}
#top-nav li em {
  width: 3px;
  text-align: center;
  border: none;
  margin: 0px 10px;
  
  font-size: 12px;
  font-family: Arial;
  color: #d9d9d9;
}

#top-nav ul li a {
  float: left;
  display: inline-block;
  width: 60px;
}
#top-nav ul li a {
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 12px;
  line-height: 35px;
  font-family:PingFangSC-Regular, -apple-system, Simsun;
}


#top-left-nav li:first-child a {
  background-color: #fff;
  width: 80px;
  border-style: solid;
  border-color: #e5e5e5;
  border-width: 0px 1px 0px 1px;
  margin: 0px 10px 0px 0px;
  text-align: center;
  color: #575757;
}
#top-left-nav li:first-child a:first-letter {
  color: #575757;
  margin-left: 0px;
}

#top-left-nav li:last-child a {
  width: 36px;
}
#top-left-nav li:nth-last-child(2) a{
  width: 48px;
}

#top-right-nav {
  float: right;
}
#top-nav #top-right-nav li a {
  width: 24px;
}

#top-right-nav li:first-child a:link  { color: black;}
#top-right-nav li:first-child a:hover  { color: #ed4259;}
#top-right-nav li:first-child a:visited   { color: black;}
#top-right-nav li:first-child a:active   { color: black;}


/* advertisement */
.ad {
  position: relative;
  z-index: 1;
  height: 60px;
}
  
.ad a:first-child {
  position: absolute;
  z-index: 1;
  width: 1200px;
  height: 60px;
}
.ad-tag {
  position: absolute;
  bottom: 4px;
  right: 4px;
  width: 24px;
  height: 14px;
  background-image: url(../images/ad-tag.png);
  background-repeat: no-repeat;
  background-color: #000;
  z-index: 5;
}
.close {
  position: relative;
  top: 17px;
  z-index: 1;
  float: right;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: rgba(202,203,205,0.3);
}
.icon-cross {
  width: 14px;
  font-size: 12px;
  color: #000;
}


/* logo-wrap */
.logo-wrap {
  height: 69px;
  margin-bottom: 15px;
}
#search  {
  float: left;
  width: 389px;
  height: 40px;
  margin: 22px 0px 0px;
}
#search-box {
  position: relative;
  bottom: 15px;
  height: 38px;
  width: 326px;
  padding: 0px 11px;
  border-style: solid;
  border-color: #dbdbdb;
  border-width: 1px 0px 1px 1px;
  margin-right: -5px;
}
#search-button {
  height: 40px;
  width: 40px;
  border: none;
  background-color: #bf2c24;
}
#search-button:hover {
  cursor: pointer;
}
input::-webkit-input-placeholder {
  color: #cccccc;
}
#search-button .icon_qd-sousuo {
  width: 40px;
  font-size: 18px;
}
.icon_qd-sousuo:before {
  color: #fff;
}

#logo {
  float: left;
  margin: 14px 182px 0px 0px;
}
#bookrack {
  float: right;
  margin: 22px 0px 0px;
  width: 118px;
  height: 38px;
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 1px;
  
  text-align: left;

}
#bookrack a {
  display: table-cell;
  width: 118px;
  height: 38px;
  text-align: center;
  vertical-align: middle;
  
  font-size: 14px;
  font-family: PingFangSC-Regular, -apple-system, Simsun;

}

#bookrack .icon-bookmark {
  position: relative;
  top: 9px;
  left: 16px;
  font-size: 16px;
  line-height: 20px;
  width: 16px;
  margin: 0px 5px 0px 0px;
  color: #262626;

}
#bookrack i {
  display: inline-block;
  line-height: 38px;
  width: 56px;
  height: 38px;
  color: #262626;
  margin: 0px 0px 0px -7px;
}

/*  main-nav  */
.main-nav-wrap {
  position: relative;
  z-index: 2;
  height: 40px;
  margin-bottom: 10px;
  background-color: #3e3d43;
  font-family: PingFangSC-Regular, HelveticaNeue-Light, "Helvetica Neue Light", "Microsoft YaHei", sans-serif;
  color: #fff;
}
#main-nav {
  height:40px;
}
#main-nav .first {
  float: left;
  display: inline-block;
  width: 216px;
  height: 40px;
  margin-right: 30px;
}
#main-nav .first span {
  display: block;
  width: 198px;
  height: 40px;
  
  font-size: 16px;
  line-height: 38px;
  
  padding-left: 18px;
  text-align: left;
  color: #fff;
  background-color: #313035;
}
#main-nav li.first:hover span {
  background-color: #252428;
  cursor: pointer;
}
#main-nav li.nav-li:hover {
  background-color: #252428;
  cursor: pointer;
}
#main-nav .first span em {
  width: 16px;
  height: 14px;
  margin: 13px 8px 0 0;
}
#main-nav .first span em i {
  display: block;
  width: 16px;
  height: 2px;
  margin-bottom: 4px;
  background-color: #d5d5d6;
}

.nav-li {
  float: left;
  width: 96px;
  height: 40px;
  line-height: 38px;
  text-align: center;
}
.nav-li:nth-child(2) {
  width: 128px;
}

.nav-li:nth-child(6) {
  width: 128px;
}

.nav-li:nth-child(7) {
  width: 133px;
}
.nav-li:nth-child(7) a {
  display: inline-block;
  height: 40px;
}
.nav-li a {
  color: #fff;
  line-height: 38px;
}

#main-nav .game {
  float: right;
  width: 96px;
  height: 40px;
  line-height: 38px;
  text-align: center;
}
#main-nav .game a {
  color: #fff;
  line-height: 38px;
}
#main-nav .web {
  width: 73px;
  height: 40px;
}
#main-nav .web .game-hover {
  display: inline-block;
  width: 53px;
  height: 40px;
  margin-right: 20px;
}
#main-nav .phone {
  width: 53px;
  height: 40px;
}
#main-nav .phone .game-hover {
  display: inline-block;
  width: 53px;
  height: 40px;
  text-align: right;
}
/*  about drapdown */
#main-nav .game .game-drapdown {
  position: absolute;
  z-index: 1;
  right: 74.5px;
  width: 216px;
  height: 420px;
  background-color: #fff;
  box-shadow: 0px 3px 5px #ccc;
}
#main-nav .game .game-drapdown cite {
  position: absolute;
  z-index: 11;
  top: -7px;
  right: 91px;
  border-top: none;
  border-left: solid 7px transparent;
  border-right: solid 7px transparent;
  border-bottom: solid 7px #fff;
}
#main-nav .game  #phone-drapdown cite {
  right: 16px;
}

/* js 
#main-nav .game .game-hover:hover {
  color: #ffeea8;
}
*/

/*  all font-icon in .nav-li */
#main-nav li .fonticon {
  color: #d8d8d9;
}

#main-nav li .fonticon:before {
  float: left;
  width: 16px;
  line-height: 38px;
  font-size: 16px;
  /*color: #d8d8d9;*/
  margin: 1px 5px 0 0;
}


/* -------- part 2 -------- */
/* === left === */
.classify-list {
  position: relative;
  float: left;
  width: 214px;
  height: 420px;
  top: -11px;
  border: 1px solid #e6e6e6;
  border-top: none;
}

.classify-list dd {
  float: left;
  width: 107px;
  height: 60px;
  background-color: #f7f6f2;
}
.classify-list .even {
  background-color: #fcfcfa;
}
.classify-list dd cite {
  position: relative;
  display: block;
  width: 85px;
  height: 43px;
  padding: 17px 0 0 17px;
}
.classify-list dd .qd {
  float: left;
  width: 24px;
  height: 24px;
  margin: 2px 8px 0 0;
  font-size: 24px;
  color: #333;
  transition-property: margin;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.classify-list dd .info {
  float: left;
  max-width: 42px;
}
.classify-list dd .info i {
  display: block;
  font: 14px/1 PingFangSC-Regular,'-apple-system',Simsun;
  color: #333
}
.classify-list dd .info b {
  display: block;
  height: 18px;
  font: 12px/1.5 Arial;
  color: #999;
}
.classify-list dd a:hover .qd {
  margin: 2px 11px 0 -3px;
  color: #ed4259;
}

/* -------- part 2 -------- */
/* === middle === */
/* --- middle top --- */
.focus-box {
  float: left;
  width: 748px;
  height: 410px;
  padding-left: 10px;
}
.focus-slider {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.focus-carousel ul {
  list-style: none;
}
.focus-carousel ul li {
  position: absolute;
  top: 0;
  left: -40px;
  z-index: 1;
  display: none;
}
.focus-carousel ul li#item1 {
  display: block;
  display: list-item;
}

.focus-carousel ul li a {
  display: block;
  height: 250px;
}
.focus-carousel ul li a img {
  width: 828px;
}

.click {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 102%;
  height: 36px;
}
.click a {
  float: left;
  display: inline-block;
  width: 17.24%;
  
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  font-family: pingFangSC-Regular,'-apple-system',Simsun;
  color: #fff;
  
  background-color: rgba(0,0,0,.7);
  padding: 0 5px;
  border-right: 1px solid rgba(255,255,255,.4);
}
.click a.active{
  background-color: #ed4259;
}

.click a:last-child {
  color: #ffeea8;
}
.click .icon_qd-shouyou1 {
  float: none;
  display: inline;
  font-size: 16px;
  width: 16px;
  line-height: 16px;
  margin-right: 5px;
}

.more {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  width: 36px;
  height: 36px;
  background-color: rgba(0,0,0,.7)
}
.more em {
  display: block;
  width: 18px;
  height: 4px;
  margin: 16px 10px 16px 8px;
}
.more i {
  float: left;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: #fff;
  vertical-align: middle;
  margin-left: 2px;
}
/* --- middle bottom --- */
.focus-box .focus-img {
  width: 748px;
  height: 160px;
}
.focus-img li {
  position: relative;
  z-index: 1;
  float: left;
  width: 33.33%;
  height: 160px;
  text-align: center;
  transition: box-shadow 0.5s;
  background: url(../images/focus_img_bg.png) no-repeat center;
}
.focus-img li:hover {
  z-index: 2;
  box-shadow: 0px 5px 10px red;
}

.focus-img ul li:nth-child(2) {
  background: #f7f6f2;
}
.focus-img li img {
  display: block;
  width: 180px;
  height: 140px;
  margin: 20px auto 0px;
}
.focus-img .ad-tag {
  background-color: #d0d0cf;
}
/* -------- part 2 -------- */
/* === right === */
.notice-wrap {
  float: right;
  width: 216px;
  height: 410px;
}
.notice-wrap .notice {
  position: relative;
  width: 214px;
  height: 248px;
  border: solid 1px #e6e6e6;
  margin: 0 0 10px;
  background-color: #fcfcfa;
}
  
.notice-wrap .notice .more {
  position: absolute;
  z-index: 1;
  top:0px;
  right: 0px;
  width: 25px;
  height: 25px;
  overflow: hidden;
  background-color: #a6a6a6;
}
.notice-wrap .notice .more em {
  margin: 0px;
  padding: 11px 0px 0px 3px;
}
.notice-wrap .notice .more span {
  position: absolute;
  display: block;
  top: -5.5px;
  right: -5.5px;
  width: 36px;
  height: 36px;
  transform: rotate(45deg);
  transition-property:top,right;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  background-color: #fcfcfa;
}
.notice-wrap .notice:hover .more span {
  top: 20px;
  right: 20px;
}
  
.notice-wrap .notice h3 {
  text-align: center;
  padding-top: 12px;
  margin: 0 27px 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  font-family: PingFangSC-Regular, HelveticaNeue-Light, "Helvetica Neue Light", "Microsoft YaHei", sans-serif;
}
.notice-wrap .notice .notice-list {
  padding-left: 5px;
}

.notice-wrap .notice .notice-list ul li {
  display: block;
  width: 209px;
  height: 25px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 25px;
  font-family: PingFangSC-Regular,'-apple-system',Simsun;
}
.notice-wrap .notice .notice-list ul li a.red {
  color: #bf2c24;
}
.notice-wrap .notice .notice-list ul li a {
  display: block;
  width: 196px;
  text-align: left;
}
.notice-wrap .notice .notice-list ul li em {
  float: none;
  display: inline;
}
.notice-wrap .notice .notice-list ul li i {
  font-size: 14px;
  font-family: PingFangSC-Regular, HelveticaNeue-Light, 'Helvetica Neue Light', 'Microsoft YaHei', sans-serif;
}
.notice-wrap .notice .notice-list li a em:first-child {
  display: inline-block;
  width: 38px;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  margin: -2px 10px 0 8px;
  background-color: #bf2c24;
}
.notice-wrap .notice .attention {
  position: relative;
  width: 214px;
  height: 22px;
  overflow: hidden;
 
}
.notice-wrap .notice .attention em {
  position: relative;
  top: 4px;
  left: -1px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  color: #bf2c24;
  margin-left: 8px;
}
.notice-wrap .notice .attention ul {
  position: absolute;
  display: inline-block;
  top: -1px;
  left: 28px;
  width: 170px;
  height: 22px;
  line-height: 22px;
  /*overflow: hidden;*/
}
.notice-wrap .notice .attention ul li {
  position: absolute;
  display: none;
  margin: 0px;
}
.notice-wrap .notice .attention ul li:first-child {
  display: list-item;
}

.notice-wrap .notice-banner {
  position: relative;
}
.notice-wrap .notice-banner a {
  display: block;
  width: 216px;
  height: 150px;
}
.notice-wrap .notice-banner .ad-tag {
  background-color: #d0d0cf;
}