* {
  margin: 0 auto;
  text-decoration: none;
  font-style: normal;

}

a:link { color: #808080;}
a:visited { color: #808080;}
a:hover { color: #ed4259;}
a:active { color: #808080;}

body {
  width: 700px;
  font-size: 14px;
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica
}

.body {
    background-color: #fafafa;
}

/* header */
header {
  text-align: center;
}
header .name {
  font-size: 30px;
  font-family: Arial, "Hiragino Sans GB", 微软雅黑, 宋体;
  margin: 10px 0px;
}
header .header_info {
  color: #333;
}
header .header_info div{
  margin: 5px 2px;
} 
header .identity .fonticon {
  margin: 0px 5px;
}
header .info_1 span>i {
  margin: 5px;
}
header .info_1 em {
  margin: 5px;
}
header .info_2 em:last-child {
  margin-left: 10px;
}
/*
header .info_2 .icon-mail-envelope-closed::before {
  position: relative;
  top: 2px;
}
*/ 




/* main */
.body>div {
  margin: 10px 0px;
  padding: 0px 15px;
}
.body div .title {
  padding-bottom: 5px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #aaa;
  
  font-size: 18px;
}
.time {
  float: right;
  width: 150px;
  text-align: left;
  font-size: 14px;
  margin-right: 200px;
}
.content {
  margin-top: 5px;
}

/* education */
.education div .univ {
  font-size: 16px;
}
.education div p {
  margin: 2px 0px;
}
.education div img {
  float: left;
  height: 42px;
  margin-right: 5px;
}

/* self-description */
.self-description .content p:last-child {
  padding-top: 5px;
  margin-top: 10px;
}
.self-description .content p a {
  display: inline-block;
  position: relative;
  width: auto;
  margin-right:20px;
  padding-right: 20px;
  border-right: solid 1px #aaa;
  
  animation-name: fontcolor;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.self-description .content p a:last-child {
  border-right: none;
  margin-left: -5px;
}
  
.self-description .content p a img {
  position: relative;
  top: 3px;
  width: 16px;
  height: 16px;
}
.self-description .content p a em {
}
.self-description .content p>em {
  margin-right: 5px;
}
@keyframes fontcolor {
  0% {color: #ed4259; bottom: 0px;}
  25% {color: #00ff00; bottom: 3px;}
  50% {color: #0000ff; bottom: 0px;}
  75% {color: #ff00ff; bottom: -3px;}
  100% {color: #ed4259; bottom: 0px;}
}
.self-description .content p:last-child {
  border-top: dotted 2px #aaa;
  margin-top: 5px;
  
}
  
/* work_ex */
.company {
  font-size: 16px;
}


/* approach_me */
.approach_me .content ul {
  list-style-type: none;
  padding: 0px;
}
.approach_me .content ul li {
  height: 19px;
  margin-top: 10px;
  font-size: 14px;
}
.approach_me a {
  position: relative;
  bottom: 5px;
  height: 19px;
}
.approach_me img {
  position: relative;
  top: 4px;
  height: 19px;
  margin-right: 5px;
}
.approach_me em {
  width: 250px;
}