body {
  width: 100%;
  font-size: 12px;
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  background-color: #fafafa;
}


/* header */
header .name {
  font-size: 25px;
}
header .info_1 span>i {
  margin: 5px 2px;
}
header .info_1 em {
  margin: 5px 2px;
}
header .info_2 em:last-child {
  margin-left: 5px;
}

/* main */
.container div .title {
  font-size: 15px;
}
.time {
  width: 100px;
  font-size: 12px;
  margin-right: 25px;
}

/* education */
.education div .univ {
  font-size: 14px;
}

/* self-description */
.self-description img {
  position: relative;
  top: 3px;
  height: 16px;
}
.pro {
  position: relative;
  /* height: 56px; */
  border-top: dotted 2px #aaa;
  margin-top: 5px;
}
.pro > span {
  display: block;
  float: left;
  margin-top: 2px;
}
.pro > span:last-child {
  position: absolute;
  top: -3px;
  margin-left: 5px;
}
.pro > span a {
  float: left;
  margin: 0px 88px 0 30px;
}

/* work_exp */
.work_exp {
  margin-top: -21px;
}
.company {
  font-size: 14px;
}


/* approach_me */

.approach_me .content ul li {
  font-size: 12px;
}

.self-description .content .pro {
  display: block;
}
.self-description .content .pro ul {
  padding-left: 5px;
}
.self-description .content .pro ul .box {
  margin-right: 5px;
}
.self-description .content .pro ul .box img {
  width: 50px;
  height: 50px;
}
.self-description .content .pro ul .box .temp {
  width: 50px;
  height: 50px;
  line-height: 50px;
}